/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

.vp-doc {
    font-size: 18px;

    p {
        /* 行距 */
        line-height: 1.8;
        font-size: 16px;
        /* 段落間距 */
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3 {
        /* 半粗 */
        font-weight: 600;
        /* 調整間距 */
        margin-bottom: 16px;
    }

    .content {
        /* 深灰帶透明度 */
        background: rgba(25, 25, 25, 0.9);
        padding: 2rem;
        /* 添加圓角 */
        border-radius: 12px;
        /* 增加輕微陰影 */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    hr {
        // border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin: 1.5rem 0;
    }
}

.vp-doc table {
    display: table;
    width: 100%;
}

.VPButton.brand {
    background-color: var(--vp-c-brand-2) !important;
}

.d-none {
    display: none;
}

.firebaseui-idp-list {
    list-style: none !important;
}

.table {
    * {
        border-color: var(--el-border-color-light);
        color: var(--el-text-color-regular);
        background: white !important;
    }
}

@media screen and (min-width:992px) {
    .d-md-block {
        display: block;
    }

    .d-md-inline-block {
        display: inline-block;
    }

    .d-md-table-cell {
        display: table-cell;
    }

    .d-md-none {
        display: none;
    }
}

.VPNavBarSearch {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .VPNavBarSearch {
        flex-grow: 1;
        padding-left: 24px
    }
}

@media (min-width: 960px) {
    .VPNavBarSearch {
        padding-left: 32px
    }
}