/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/* https://fonts.google.com/selection/embed */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */


body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-style: normal;

}

h1,
h2,
h3,
h4 {
    font-family: "微軟正黑體", "Microsoft JhengHei", "Heiti TC", "Times New Roman", Times, serif
}

.vp-doc table {
    display: table;
    width: 100%;
}

.d-none {
    display: none;
}

.firebaseui-idp-list {
    list-style: none !important;
}

@media screen and (min-width:992px) {
    .d-md-block {
        display: block;
    }

    .d-md-table-cell {
        display: table-cell;
    }

    .d-md-none {
        display: none;
    }
}