/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */
body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.vp-doc table {
    display: table;
    width: 100%;
}

.d-none {
    display: none;
}

.firebaseui-idp-list {
    list-style: none !important;
}

@media screen and (min-width:992px) {
    .d-md-block {
        display: block;
    }

    .d-md-table-cell {
        display: table-cell;
    }

    .d-md-none {
        display: none;
    }
}