/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */
.vp-doc table {
    display: table;
    width: 100%;
}

.d-none {
    display: none;
}

@media screen and (min-width:992px) {
    .d-md-block {
        display: block;
    }

    .d-md-table-cell {
        display: table-cell;
    }

    .d-md-none {
        display: none;
    }
}